html,
body {
  width: 100%;
  margin: 0 auto;
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

nav {
  height: 80px;
}

.qc-logo-icon {
  width: auto;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.qc-logo-text {
  color: black;
  vertical-align: middle;
}

.qc-nav-right>li>a {
  height: 80px;
  color: black;
}

.qc-member-logo {
  margin-right: 5px;
  font-size: 30px;
}

#feed {
  padding-top: 30px;
}

.feed-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
}

.qc-article-card {
  margin-bottom: 30px;
}

.qc-article-image {
  height: 300px;
}

@media screen and (max-width: 600px) {
  .qc-member-name {
    display: none;
  }
}

#staggered-test li {
  opacity: 0;
}