html,
body {
  width: 100%;
  margin: 0 auto;
  background: #e9e9e9;
  color: #666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

h5 {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: #6d4c41;
}

nav {
  height: 80px;
}

.qc-logo-icon {
  width: auto;
  height: 40px;
  margin: 20px 0px;
}

.qc-logo-text {
  color: black;
  vertical-align: middle;
}

.qc-nav-right>li>a {
  height: 80px;
  color: black;
}

.qc-member-logo {
  margin-right: 5px;
  font-size: 30px;
}

#feed {
  padding-top: 30px;
  /*margin-left : 260px;*/
}

.feed-wrapper {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -ms-flexbox; /* IE */
  align-items: center;
  flex-direction: column; 
  justify-content: center;
}

.qc-article-card {
  margin-bottom: 30px;
  height: 700px;
}

.qc-article-image {
  height: 400px;
}

.qc-brand-logo {
  margin-left: 120px;
}

#staggered-test li {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .qc-member-name {
    display: none;
  }

  .qc-brand-logo {
    margin-left: 50px;
  }
}





