<html>
	<head>
		<title>Wall</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- nav bar -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="">CodingDojo Wall</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="">{{session['first_name']}}</a></li>
		      <li><a href="/logout">Logout</a></li>
		    </ul>
		  </div>
		</nav>
		<!--   show messages and comments -->
		<form action = '/messages' method = "post">
			<input type = 'hidden' name = 'user_id' value = "{{user['id']}}">
			<input type = 'text' name = 'message'>
			<input type = 'submit' value = 'Write Message'>
		</form>
		{% for message in messages %}
		<p>{{message.first_name}} : {{message.message}}</p>
		<form action = "/comments" method = 'post'>
			<input type = 'hidden' name = 'user_id' value = "{{user['id']}}">
			<input type = 'hidden' name = 'message_id' value = "{{message.id}}">
			Comment<input type = 'text' name = 'comment'>
			<input type = 'submit' value = 'Write Comment'>
		</form>
			{% for comment in comments %}
				{% if comment.messages_id == message.id %}
					<p>comment{{comment.first_name}} : {{comment.comment}}</p>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</body>
</html>
